{% extends "::base.html.twig" %}

{% block title %}Comment this page{% endblock %} 

{% block body %}

    <form action="{{ path("add_comment") }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <p>
            <input type="submit" value="Send" class="symfony-button-grey" />
        </p>
    </form>

{% endblock %}

