{% extends "::base.html.twig" %}

{% block title %}Comment this page{% endblock %} 

{% block body %}

        <p>
            Your comment is:
             {{ comment.content }}
        </p>


{% endblock %}
